{% load static %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>    
<body>
{% if user.is_authenticated %}

<h1 class='title-log' style="align-items: center; justify-content: center; display: flex;">Welcome!</h1>

<div class="content-log"style="align-items: center; justify-content: center; display: flex;">
    {{user.username}}
</div>
<div class="centre-items buttn" style="align-items: center; justify-content: center; display: flex;">
    <a class='btn btn-primary buttn' href="{% url 'logout' %}" style="margin: 20px;">logout</a>
</div>
{% else %}

<h1 class='title-log' style="align-items: center; justify-content: center; display: flex;">Please Log In!</h1>

<div class='form-log' style="align-items: center; justify-content: center; display: flex;">
    <form action="" method="POST">
        {% csrf_token %} {{ form }}
        <div class="centre-items buttn" style="margin: 20px;">
            <input type="submit" class="btn btn-primary" value="Login" id="submit">
        </div>
    </form>
</div>

{% endif %}

</body>
</html>