{% extends 'base.html' %}
{% load static %}

{% block meta %}
<title>Story 9</title>
{% endblock meta %}

{% block content %}
  <h1 style="align-items: center; justify-content: center; display: flex;">Hello, Story 9!</h1>
  <a href="/log-in/" style="align-items: center; justify-content: center; display: flex;">LET'S GOO!!</a>
{% endblock content %}
